.containerFilters {
    background: #f7f8f9;
    padding: 1.1rem;
    display: flex;
    align-items: center;
    border-top: 0.0625rem solid #ecedee;
    border-bottom: 0.0625rem solid #ecedee;
    justify-content: space-between;
}

.containerResults {
    height: 650px;
    overflow-y: scroll;
}

.containerBtnFilter {
    max-width: 50%;
    width: 100%;
}
.btnFilter {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.textBtnFilter{
    padding: 0 .625rem;
    color: #006fcf;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
}

.btnsFilters{
    position: absolute;
    background: #fff;
    max-width: 100%;
    z-index: 2;
    height: 650px;
    width: 100%;
}
.btnsCloseErase{
    display: flex;
    justify-content: space-between;
    background-color: #f7f8f9!important;
    border-top: 0.0625rem solid #ecedee;
    border-bottom: 0.0625rem solid #ecedee;
    padding: 10px;
    align-items: center;
}

.btnShowLess, .btnErase {
    background: none;
    border: none;
    color: #006fcf;
    cursor: pointer;
    font-size: .9375rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;
    padding: 0;
}
.btnShowLess > svg {
    stroke: #006fcf;
    fill: #006fcf;
    padding-right: .5rem;
}

.parent {
    touch-action: manipulation;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
    margin-bottom: 0;
    min-height: 1.375rem;
    padding: 20px;

}

.div9 {
    font-weight: 600;
    margin-bottom: 20px;
}

.containerRadios {
    display: flex;
    flex-direction: column;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1.25rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #97999B;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    border: 1px solid #006FCF;
}

/* When the radio button is checked, add a blue background */
.container> input:checked ~ .checkmark {
    background-color: #FFFFFF;
    border: 1px solid #006FCF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container> input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #006FCF;
}

.iconTicket {
    transform: rotate(180deg);
}

.iconTicket, .iconBag, .iconCutlery, .iconServices, .iconTrips {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}


@media (min-width: 768px) {

    .btnsFilters {
        max-width: 25%;
    }
}
