.containerFilters {
    background: #f7f8f9;
    padding: 1.1rem;
    display: flex;
    align-items: center;
    border-top: 0.0625rem solid #ecedee;
    border-bottom: 0.0625rem solid #ecedee;
    justify-content: space-between;
}

.containerResults {
    height: 650px;
    overflow-y: scroll;
}

.containerBtnFilter {
    max-width: 50%;
    width: 100%;
}
.btnFilter {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.textBtnFilter{
    padding: 0 .625rem;
    color: #006fcf;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.375rem;
}

.btnsFilters{
    position: absolute;
    background: #fff;
    max-width: 100%;
    z-index: 2;
    height: 650px;
    width: 100%;
}
.btnsCloseErase{
    display: flex;
    justify-content: space-between;
    background-color: #f7f8f9!important;
    border-top: 0.0625rem solid #ecedee;
    border-bottom: 0.0625rem solid #ecedee;
    padding: 10px;
    align-items: center;
}

.btnShowLess, .btnErase {
    background: none;
    border: none;
    color: #006fcf;
    cursor: pointer;
    font-size: .9375rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;
    padding: 0;
}
.btnShowLess > svg {
    stroke: #006fcf;
    fill: #006fcf;
    padding-right: .5rem;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    touch-action: manipulation;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    cursor: pointer;
    margin-bottom: 0;
    min-height: 1.375rem;
    padding-left: 10px;

}
.parent >  div {
    height: 36px;
    display: flex;
    align-items: center;
}

.div9 { grid-area: 5 / 1 / 6 / 3; }
.div10 { grid-area: 6 / 1 / 7 / 2; }
.div11 { grid-area: 6 / 2 / 7 / 3; }
.div12 { grid-area: 7 / 1 / 8 / 2; }
.div13 { grid-area: 7 / 2 / 8 / 3; }
.div14 { grid-area: 8 / 1 / 9 / 2; }
.div15 { grid-area: 8 / 2 / 9 / 3; }
.div16 { grid-area: 9 / 1 / 10 / 2; }
.div17 { grid-area: 9 / 2 / 10 / 3; }
.div18 { grid-area: 10 / 1 / 11 / 2; }
.div19 { grid-area: 10 / 2 / 11 / 3; }
.div20 { grid-area: 11 / 1 / 12 / 2; }
.div21 { grid-area: 11 / 2 / 12 / 3; }

.div9 {
    font-weight: 600;
}

.selectOrder {
    background: #ecedee!important;
    border: 0.0625rem solid #c8c9c7;
    border-radius: 0.25rem;
    transition: border-color .25s ease-out;
    cursor: pointer;
    font-size: 1rem;
    height: 50px;
    width: 100%;
    z-index: 1;
    text-overflow: ellipsis;
    padding: 0.625rem 2rem 0.625rem 0.625rem;
}

.selectOrder:focus{
    border: 0.0625rem solid #006fcf;
    outline: #006fcf;
}
.selectOrder:active {
    outline: 1px dashed #53565a;
    outline-offset: 3px;
    border-color: #006fcf;
}

.containerSelect {
    max-width: 50%;
    display: flex;
}

@media (min-width: 768px) {

    .btnsFilters {
        max-width: 25%;
    }
}
