.root {
    height: 650px;
    overflow: auto;
}


.placesText {
    background: #f7f8f9;
    height: auto;
    padding: 1.1rem;
    flex: 0 0 100%;
}

.messagePlacesText {
    color: #333;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.375rem;
}

.showPlaces {
    font-weight: 400;
    line-height: 1.375rem;
    font-size: .9375rem;
    background-color: transparent;
    color: #006fcf;
    text-decoration: none;
    cursor: pointer;
    transition: color .25s ease-out,background-color .25s ease-out;
}
/* Restaurants  */
.iconRestaurants {
    content: url("../../public/restaurant.png");
    height: 20px;
    width: 20px;
}

.iconRestaurants:hover {
    content: url("../../public/restaurantHover.png");
    height: 20px;
    width: 20px;
}

/* Entertainment  */
.iconEntertainment {
    content: url("../../public/entertainmentB.png");
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

/* Retail  */
.iconRetail {
    content: url("../../public/retails.png");
    height: 20px;
    width: 20px;
}

.iconRetail:hover {
    content: url("../../public/retailHover.png");
    height: 20px;
    width: 20px;
}

/* Services  */
.iconServices {
    content: url("../../public/services.png");
    height: 20px;
    width: 20px;
}

.iconServices:hover {
    content: url("../../public/servicesHover.png");
    height: 20px;
    width: 20px;
}
/* Travel  */
.iconTravel {
    content: url("../../public/travel.png");
    height: 20px;
    width: 20px;
}

.iconTravel:hover {
    content: url("../../public/travelHover.png");
    height: 20px;
    width: 20px;
}
